.header{
      //--background: #5491bdf5 !important;
      --background: linear-gradient(to top,#36688d, #5491bd);

}

.flexed-head{
    width: 100%;
    height: 100%;
    padding: 3px 5px 3px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.group1{
    width: 120px;
    height: 95%;
    color: #000;
    font-size: 30px;
}

.logo-container{
 align-self: center;
 font-size: 24px;
 font-weight: 500;
 color: #fafafada;
}

.logo{
   
}

.group2{
    width: 70px;
    height: 95%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item{
    width: 30px;
    height: 100%;
    align-self: center;
    background-color: #fafafa10;
    border-radius: 50%;
    border: 0.25px solid #fafafa1a;
}

.icon-container{
    align-self: center;
    text-align: center;
}

.h-icon{
    color: #fafafad7;
    width: 20px;
    height:20px;
    margin: 4.5px 2px 2px 2px;
}


ion-searchbar{
    --background:rgba(224, 224, 224, 0.6);
    --icon-color: #5491bd;
    --clear-button-color: #5491bd;
    --border-radius: 12px;
}

