<!--- header ---> 
<ion-header [translucent]="false" class="ion-no-padding">
<ion-toolbar class="ion-no-padding header">

   <div class="flexed-head">
      <div class="group1">
        <div class="logo-container">
          <img class="logo" src="assets/icon/logo.png" >
        </div>
      </div>
      <div class="group2"> 
        <div class="item">
          <div class="icon-container">
            <ion-icon class="search"  name="search-outline"></ion-icon>
          </div>
        </div>
        <div class="item">
          <div class="icon-container">
            <img class="qrcode" src="assets/icon/qrcode.svg" >
          </div>
        </div>
        <div class="item">
          <div class="icon-container">
            <img class="basket" src="assets/icon/basket.svg" >
          </div>
        </div>
      </div>
  </div>
    
</ion-toolbar>
</ion-header>
 <!----End-header ----> 
