<app-header slot="top"></app-header>
<ion-content>
    <div class="">
  <!-- Auto Play Slider -->
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
        <img class="sh-img" src="assets/img/demo.jpg">
    </ion-row>
  </ion-grid>
  </div>

  <div class="">
  <!-- Slider with Space Between -->
  <h5 class="ion-padding"> DEMOS </h5>

   <ion-grid>
    <ion-row class="ion-no-padding">
      <ion-col size="12" class="ion-no-padding">
        <iframe width="311" height="174" src="https://www.youtube.com/embed/i7K06_EBfzA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <ion-item>
            <ion-label class="demo-label">DEMO EPISODE 11: MASTER LOCK</ion-label>  
        </ion-item>  
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row class="ion-no-padding">
      <ion-col size="12" class="ion-no-padding">
        <iframe width="311" height="174" src="https://www.youtube.com/embed/g9IZMvHTah4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <ion-item>
            <ion-label class="demo-label">DEMO EPISODE 10: PONCEUSE SURFACEUSE</ion-label>  
        </ion-item> 
      </ion-col>
    </ion-row>
  </ion-grid>

   <ion-grid>
    <ion-row class="ion-no-padding">
      <ion-col size="12" class="ion-no-padding">
        <iframe width="311" height="174" src="https://www.youtube.com/embed/Evwi1umc-iY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <ion-item>
            <ion-label class="demo-label">DEMO EPISODE 8: MEULEUSE MILWAUKEE AG-800-115</ion-label>  
        </ion-item> 
      </ion-col>
    </ion-row>
  </ion-grid>

   <ion-grid>
    <ion-row class="ion-no-padding">
      <ion-col size="12" class="ion-no-padding">
        <iframe width="311" height="174" src="https://www.youtube.com/embed/4AeU1Zc3EXQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <ion-item>
            <ion-label class="demo-label">DEMO EPISODE 7: NETTOYEUR HAUTE PRESSION KRANZLE</ion-label>  
        </ion-item>  
      </ion-col>
    </ion-row>
  </ion-grid>


  </div>

   
<br>

</ion-content>
