<app-header slot="top"></app-header>

<ion-content>
<div id="content" class="ion-margin">

    <div class="product-view">
    <div class="pv-img-container">
      <img class="pv-product-img" src="assets/img/todelete/equipement.png">
    </div>
  </div>

  <div class="description">

    <div class="name">
      Bleu de travail classique
    </div>

    <div class="pv-price-tag">
      <div class="pv-price">8104F HT</div>
      <div class="pv-price">9563F HT</div>
    </div>

  </div>

  <div class="container">

    <div class="quantity">
      <div class="label">QUANTITE</div>
      <div class="controller"> 
        <div class="minus">-</div>
        <div class="number">6</div>
        <div class="plus">+</div>
      </div>
    </div>

  </div>

  <div class="custum-btn-c" (click)="toPanier()">
      <div class="btn-label">AJOUTER AU PANIER</div>
  </div>

    <div class="container">
      <div class="fiche">
        <div class="f-icon"><img src="assets/icon/pdf.svg"></div>
        <div class="f-label">FICHE TECHNIQUE</div>
      </div>
  </div>

  <div class="info">
    <div class="i-title"><b>CODE: </b> BLEU908</div>
    <div class="i-title"><b>CATEGORIE: </b> EQUIPEMENT</div>
    <div class="i-description">
      <div class="i-title"><b>DESCRIPTION:</b></div>
      <div class="i-text">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.   Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolorin hendrerit in vulputate velit esse molestie consequat.
      </div>
    </div>
  </div>

   <!--------------------PRODUITS-SIMILAIRES-------------------->
   <div id="nouveaute">

    <div class="section-title">
      <div><h5 class="title">PRODUITS COMPLEMENTAIRES</h5></div>
    </div>

    <div class="slides">
        <ion-slides pager="false" [options]="slideOptsTwo" #slideWithNav2 (ionSlideDidChange)="SlideDidChange(sliderTwo,slideWithNav2)">
        
          <ion-slide>
           <div class="card">

              <div class="c-image-container">
                <div class="image">
                  <img class="product-img" src="assets/img/todelete/mouleuse.png"> 
                  <span class="product-serie">MEULEUSE0034</span>
                  <span class="product-bdg">NEW</span>               
                </div>

               </div>

               <div class="product-details">
                 <div class="p-title">Mouleuse angular 800w</div>
                 <div class="price-tag">8104F HT</div>
                 <div class="price-tag">9563F TTC</div>
                 <div class="category">OUTILLAGES ELECTROPORTATIFS</div>
               </div>

              <div class="c-footer">
                 <div class="txt">AJOUTER AU PANIER</div>
              </div>
           </div>
          </ion-slide>

          <ion-slide>
           <div class="card">

              <div class="c-image-container">
                <div class="image">
                  <img class="product-img" src="assets/img/todelete/rutile.png"> 
                  <span class="product-serie">MEULEUSE0034</span>
                  <span class="product-bdg">NEW</span>                               
                </div>
               </div>

               <div class="product-details">
                 <div class="p-title">Mouleuse angular 800w</div>
                 <div class="price-tag">8104F HT</div>
                 <div class="price-tag">9563F TTC</div>
                 <div class="category">OUTILLAGES ELECTROPORTATIFS</div>
               </div>

              <div class="c-footer">
                 <div class="txt">AJOUTER AU PANIER</div>
              </div>
           </div>
          </ion-slide>

              <ion-slide>
           <div class="card">

              <div class="c-image-container">
                <div class="image">
                   <img class="product-img" src="assets/img/todelete/rutile.png"> 
                   <span class="product-serie">MEULEUSE0034</span>
                   <span class="product-bdg">NEW</span>                               
                </div>
               </div>

               <div class="product-details">
                 <div class="p-title">Mouleuse angular 800w</div>
                 <div class="price-tag">8104F HT</div>
                 <div class="price-tag">9563F TTC</div>
                 <div class="category">OUTILLAGES ELECTROPORTATIFS</div>
               </div>

              <div class="c-footer">
                 <div class="txt">AJOUTER AU PANIER</div>
              </div>
           </div>
          </ion-slide>
         </ion-slides>

        </div>

    </div>
    <!--------------------END-PRODUITS-SIMILAIRE-------------------->


</div>

</ion-content>

