<app-header slot="top"></app-header>

<ion-content>
    <div class="ion-margin">
        <div class ="chiprow w-100">
            <ion-slides pager="false" [options]="slideOptsThree" #slideWithNav3 (ionSlideDidChange)="SlideDidChange(sliderThree,slideWithNav3)">
                <ion-slide>
                    <ion-chip color="secondary">
                        <ion-label>exemple 1</ion-label>      
                    </ion-chip>
                </ion-slide>
                <ion-slide>
                    <ion-chip color="secondary">
                        <ion-label>exemple 2</ion-label>      
                    </ion-chip>
                </ion-slide>
                <ion-slide>
                    <ion-chip color="secondary">
                        <ion-label >exemple 3</ion-label>      
                    </ion-chip>
                </ion-slide>
                <ion-slide>
                    <ion-chip color="secondary">
                        <ion-label >exemple 4</ion-label>      
                    </ion-chip>
                </ion-slide>
            </ion-slides>
        </div>
        <div class="listproduct">
            <ion-grid>
                <ion-row>
                    <ion-col size="6" class="mt-4" *ngFor="let item of todelete">
            <div class="card" >

              <div class="c-image-container" >
                <div class="image">
                  <img class="product-img" src="{{item.image}}"> 
                </div>

               </div>

               <div class="product-details">
                 <div class="p-title">
                  {{item.name.substring(0, 17)}}
                  {{item.name.length > 17 ? '...' : ''}}
                 </div>
                 <div class="price-tag">{{item.price}}</div>

               </div>

              <div class="c-footer">
                 <div class="txt">AJOUTER AU PANIER</div>
              </div>
           </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>
