<app-header slot="top"></app-header>

<ion-content>
    <div class="ion-margin">
        <div class ="chiprow w-100">
            <ion-slides pager="false" [options]="slideOptsThree" #slideWithNav3 (ionSlideDidChange)="SlideDidChange(sliderThree,slideWithNav3)">
                <ion-slide>
                    <ion-chip color="secondary">
                        <ion-label>exemple 1</ion-label>      
                    </ion-chip>
                </ion-slide>
                <ion-slide>
                    <ion-chip color="secondary">
                        <ion-label>exemple 2</ion-label>      
                    </ion-chip>
                </ion-slide>
                <ion-slide>
                    <ion-chip color="secondary">
                        <ion-label >exemple 3</ion-label>      
                    </ion-chip>
                </ion-slide>
                <ion-slide>
                    <ion-chip color="secondary">
                        <ion-label >exemple 4</ion-label>      
                    </ion-chip>
                </ion-slide>
            </ion-slides>
        </div>
    </div>
</ion-content>
