@import '../home/home.page.scss';

.chiprow{
    padding: 1px 0 1px 0;
    background-color: rgba(207, 222, 235, 0.068);
}

ion-chip{
    height: 25.5px;
    ion-label{
        font-size: 11px;
    }
}

.listproduct{
    display: flex;
    flex-direction: row;
}

ion-grid{
    --ion-grid-padding: 0px;
}

ion-col{
    --ion-grid-column-padding: 7px;
}

ion-chip{
    background: rgba(80, 120, 143, 0.15) !important;
    color: #5491bd;
    font-weight: 500;
}