<app-header slot="top"></app-header>
<ion-content>
<div class="ion-margin">

 <ion-item lines="none">
  <ion-label> TOUT COCHER</ion-label>
  <ion-checkbox slot="start" color ="dark"></ion-checkbox>
 </ion-item>

 <div class="container">

  <div class="flexed-container">
   <div class="img-container">
     <img class="product-img" src="assets/img/todelete/equipement.png">
   </div>
   <div class="details">
     <div class="description">
       <div class="delete-btn"><img src="assets/icon/delete.svg"></div>
       <div class="name">BLEU DE TRAVAIL</div>
       <div class="category">EQUIPEMENT</div>
       <div class="fiche">
        <div class="f-icon"><img src="assets/icon/pdf.svg"></div>
        <div class="f-label">FICHE TECHNIQUE</div>
       </div>
     </div>
     <div class="numbers">

       <div class="quantity">
         <div class="quantity-area">6</div>
       </div>

       <div class="price-tag">
         <div class="price">8100F HT</div>
         <div class="price">9153F TTC</div>
       </div>

       <div class="price-tag2">
         <div class="price2">8104F HT</div>
         <div class="price2">9153F TTC</div>
       </div>

     </div>
   </div>
  </div>

 </div>


  <div class="container">

  <div class="flexed-container">
   <div class="img-container">
     <img class="product-img" src="assets/img/todelete/equipement.png">
   </div>
   <div class="details">
     <div class="description">
       <div class="delete-btn"><img src="assets/icon/delete.svg"></div>
       <div class="name">BLEU DE TRAVAIL</div>
       <div class="category">EQUIPEMENT</div>
       <div class="fiche">
        <div class="f-icon"><img src="assets/icon/pdf.svg"></div>
        <div class="f-label">FICHE TECHNIQUE</div>
       </div>
     </div>
     <div class="numbers">

       <div class="quantity">
         <div class="quantity-area">6</div>
       </div>

       <div class="price-tag">
         <div class="price">8100F HT</div>
         <div class="price">9153F TTC</div>
       </div>

       <div class="price-tag2">
         <div class="price2">8104F HT</div>
         <div class="price2">9153F TTC</div>
       </div>

     </div>
   </div>
  </div>

 </div>

 <div class="container2">
   <div class="price-l">TOTAL HT</div>
   <div class="price-n">8104F HT</div>
   <div class="blank"></div>
 </div>

  <div class="container2">
   <div class="price-l">TOTAL HT</div>
   <div class="price-n">8104F HT</div>
   <div class="blank"></div>
 </div>

   <div class="container2">
      <div class="btn1">VALIDER VOTRE DEVIS</div>
  </div>

    <div class="container2">
      <div class="btn2">FINALISER VOTRE COMMANDE</div>
  </div>


</div>
</ion-content>
