ion-content{
  --background:#f2f2f2;
  font-family: 'Helvetica Neue', sans-serif;
}


ion-item{
     --background:#f2f2f2; 
}

.container{
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.08);    
    border-radius: 4px;    
    background-color: #fff;

}

.flexed-container{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.08);    
    border-radius: 4px;
}

.img-container{
    width: 33%;
    height: 100%;
}

.product-img{
    width: 100%;
    height: 100%;
}

.details{
    width: 66%;
    height: 100%;
    padding: 2.5px 4px 2.5px 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description{
    width: 100%;
    height: 59%;
    font-size: 12.5px;
    font-weight: 500;
}

.delete-btn{
    width: 100%;
    text-align: right;
    img{
        width: 25px;
        height: 25px;
    }
}

.category,.name{
    margin-bottom: 3px;
}

.fiche{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.f-label{
    font-size: 12.5px;
    text-decoration: underline rgba(34, 34, 34, 0.479) 0.1px;
    font-weight: 600;
    color: #222;
    align-self: center;
}

.f-icon{
    width: 16px;
    height: 16px;
    align-self: center;
    margin-right: 5px;
}

.numbers{
    width: 100%;
    height: 39%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;

}

.quantity{
    width: 33%;
    height:45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quantity-area{
    width:95%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #cecece8a;
    border-radius: 8px;
    border: 0.25px solid #cecece;

}

.price-tag{
    width: 33%;
    text-align: right;
    height:40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price-tag2{
    width: 33%;
    text-align: right;
    height:40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
}

.price{
}

.price2{
    color:#EE2524;
}

.container2{
    margin-top: 30px;
    width: 100%;
    padding-left: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
}

.price-l{
    width: 33%;
    font-size: 15px;
}

.price-n{
    width: 33%;
    text-align: center;
    font-weight: 600;
}

.blank{
    width: 33%;
}

.custum-btn-c{
    margin-top: 25px;
    width: 100%;
    height: 40px;
    background: linear-gradient(76.31deg, #EE2524 0.92%, #F56549 95.82%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.08);
    border: 0.2px solid #ec121281;
    .btn-label{
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        color: #fff;
    }
}

.custum-btn-c:active{
    margin-top: 25px;
    width: 100%;
    height: 40px;
    background: linear-gradient(76.31deg, #F56549 0.92%,  #EE2524  95.82%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.08);    
    border: 0.2px solid #c80f0f81;
    .btn-label{
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        color: #fff;
    }
}

.custum-btn-b{
    margin-top: 25px;
    width: 100%;
    height: 40px;
    background: linear-gradient(68.45deg, #292625 -2.06%, #593F37 98.68%);  width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.08);
    border: 0.2px solid rgb(34, 34, 34);
    .btn-label{
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        color: #fff;
    }
}

.custum-btn-b:active{
    margin-top: 25px;
    width: 100%;
    height: 40px;
     background: linear-gradient(68.45deg, #593F37 -2.06%, #292625  98.68%);  width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.08);
    border: 0.2px solid #222;
    .btn-label{
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        color: #fff;
    }
}

