<!------ tabs -------> 
<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="remove-circle-outline"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categorie">
      <ion-icon name="remove-circle-outline"></ion-icon>
      <ion-label>Catégories</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="demo">
      <ion-icon name="remove-circle-outline"></ion-icon>
      <ion-label>Demo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favoris">
      <ion-icon name="remove-circle-outline"></ion-icon>
      <ion-label>Favoris</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="plus">
      <ion-icon name="remove-circle-outline"></ion-icon>
      <ion-label>Plus</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
  <!---- End-tabs ----> 
