<app-header slot="top"></app-header>


<ion-content>
  <div class="ion-margin">

    <div class="presents">
      <div class="user-img">
        <div class="img-container">
          <img src="/assets/img/todelete/user-img.png">
        </div>
      </div>
      <div class="welcoming">
        Bienvenue <b>Thiam</b> !
      </div>
    </div>

    <div class="infos">

      <div class="header">ADRESSE</div>

      <div class="inputs">
        <ion-item>
          <ion-label position="floating" color ="dark">Adresse</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color ="dark">Téléphone</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </div>

       <div class="header">VOTRE DEVIS</div>

       <div class="products">

        <div class="product">
          <div class="p-img-container">
            <img src="assets/img/todelete/equipement.png">
          </div>
          <div class="details">
            <div class="p-name">BLEU DE TRAVAIL CLASSIQUE</div>
            <div class="p-ttc">9563F TTC</div>
            <div class="p-quantity">QUANTITÉ: 6</div>
          </div>
        </div>
        <div class="product">
          <div class="p-img-container">
            <img src="assets/img/todelete/equipement.png">
          </div>
          <div class="details">
            <div class="p-name">BLEU DE TRAVAIL CLASSIQUE</div>
            <div class="p-ttc">9563F TTC</div>
            <div class="p-quantity">QUANTITÉ: 6</div>
          </div>
        </div>

       </div>

       <div class="container2">
        <div class="price-l">TOTAL HT</div>
        <div class="price-n">8104F HT</div>
        <div class="blank"></div>
      </div>

      <div class="container2">
        <div class="price-l">TOTAL</div>
        <div class="price-n">8104F TTC</div>
        <div class="blank"></div>
      </div>

    </div>

    <div class="custum-btn-c">
      <div class="btn-label">CONFIRMER VOTRE DEVIS</div>
    </div>
    
  </div>
</ion-content>

