.p-grid{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.top-grid{
    margin-bottom: 18px;
    width: 100%;
    height: 185px;
}

.grid-row{
    margin-bottom: 18px;
    width: 100%;
    height: 185px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grid-col{
 width: 47%;
 height: 100%;
 border-radius: 8px;
 box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
 background-color: #56616810;
}

.profil{
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
     background-color: #56616810;
}

.ellipsis{
    ion-icon{
        font-size: 19px;
        color: #293842;
    }
}


.img-container{
    width: 75px;
    height: 75px;
}

.user-img{
    width: 100%;
    height: 100%;
    img{
         width: 100%;
         height: 100%;
         border-radius: 50%;
         box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    }
}

.camera{
    position: relative;
    bottom: 30%;
    right: -70%;
    padding: 4px 5px 2px 5px;
    border-radius: 50%;
    background-color: #5491bdc0;
    ion-icon{
        font-size: 14px;
        color: rgb(214, 214, 214);
    }

    &:active{
        //transform:scale(1.1);
        background-color: #5491bde3;
    }
}

.username{
    color: rgba(34, 34, 34, 0.9);
    font-size: 16px;
    font-weight: 500;
}

.location{
    font-size: 12.5px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: #293842fb;

    ion-icon{
        color: #5491bdf5;
        font-size: 13.5px;
        margin-right: 0.5px;
    }
}

.icon-container{
    width: 55px;
    height: 60px;
    img{
        color: #5491bdf1;
        width: 100%;
        height: 100%;
    }
}

.label{
    color: rgba(34, 34, 34, 0.9);
    font-size: 12.5px;
    font-weight: 500;
}
