.p-grid{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.grid-row{
    margin-bottom: 18px;
    width: 100%;
    height: 175px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grid-col{
 width: 47%;
 height: 100%;
 border-radius: 8px;
 box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.profil{
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}