<app-header slot="top"></app-header>

<ion-content>
    <div class="ion-margin">
        <div class="p-grid">
            <div class="top-grid profil">
                <div class="w-100 rr-flexed">
                    <!--span class="pencil mt-12 mr-12"><ion-icon name="create-outline"></ion-icon></span-->
                    <span class="update mt-12 mr-12">Modifier</span>
                </div>
                <div class="w-100 r-flexed">
                    <div class="img-container">
                        <div class="user-img">
                            <img src="assets/img/dina.jpeg">
                            <span class="camera"><ion-icon name="camera"></ion-icon></span>
                        </div>
                    </div>
                </div>
                <div class="w-100 r-flexed mt-10">
                    <div class="username">Seydina GUEYE</div>
                </div>
                <div class="w-100 r-flexed mt-5">
                    <div class="location">
                        <ion-icon name="location" slot="left"></ion-icon>
                        Dakar, Sénégal
                    </div>
                </div>
            </div>
            <div class="grid-row">
                <div class="grid-col"></div>
                <div class="grid-col"></div>
            </div>
            <div class="grid-row">
                <div class="grid-col"></div>
                <div class="grid-col"></div>
            </div>
        </div>
    </div>
</ion-content>
