<app-header slot="top"></app-header>

<ion-content>
    <div class="ion-margin">
        <div class="p-grid">
            <div class="grid-row profil">
            </div>
            <div class="grid-row">
                <div class="grid-col"></div>
                <div class="grid-col"></div>
            </div>
            <div class="grid-row">
                <div class="grid-col"></div>
                <div class="grid-col"></div>
            </div>
        </div>
    </div>
</ion-content>
