<app-header slot="top"></app-header>
<ion-content [scrollEvents]="true">

  <div id="presenting" class="ion-margin">
    <div class="img-container">
      <img src="assets/img/home-img1.png">
    </div>
    <div class="description">
      Bienvenue sur <span class="red-dmd">DMD-CI</span>
    </div>
  </div>

  <div class="ion-margin">

    <div class="section-title">
      <div><h5 class="title">CHOISIR UNE OPTION</h5></div>
    </div>

    <div class="options">

     <div class="option">
      <div class="o-body">
        <div class="o-image-container">
          <img class="qrcode" src="assets/icon/qrcode.svg" >
        </div>
      </div>
      <div class="o-footer">
        <div class="txt">SCANNER</div>
      </div>
    </div>

    <div class="option">
      <div class="o-body">
        <div class="o-image-container">
          <img class="basket" src="assets/icon/basket.svg" >
        </div>
      </div>
      <div class="o-footer">
        <div class="txt">VOIR PANIER</div>
      </div>
    </div>

    </div>
  </div>

  <div class="ion-margin">
    <div class="btn-feed" *ngIf="feed == false" (click)="feeding()"> VOIR FIL D'ACTUALITE</div>
  </div>

  <div class="feed" *ngIf="feed == true">

    <!--------------------NOUVEAUTE-------------------->
   <div id="nouveaute" class="ion-margin">

    <div class="section-title">
      <div><h5 class="title">NOUVEAUTE</h5></div>
      <div class="see-more"><h5 >VOIR+</h5></div>
    </div>

    <div class="slides">
        <ion-slides pager="false" [options]="slideOptsTwo" #slideWithNav2 (ionSlideDidChange)="SlideDidChange(sliderTwo,slideWithNav2)">
        
          <ion-slide>
           <div class="card">

              <div class="c-image-container" (click)="toProductDetails()">
                <div class="image">
                  <img class="product-img" src="assets/img/todelete/mouleuse.png"> 
                  <span class="product-serie">MEULEUSE0034</span>
                  <span class="product-bdg">NEW</span>               
                </div>

               </div>

               <div class="product-details">
                 <div class="p-title">Mouleuse angular 800w</div>
                 <div class="price-tag">8104F HT</div>
                 <div class="price-tag">9563F TTC</div>
                 <div class="category">OUTILLAGES ELECTROPORTATIFS</div>
               </div>

              <div class="c-footer">
                 <div class="txt">AJOUTER AU PANIER</div>
              </div>
           </div>
          </ion-slide>

          <ion-slide>
           <div class="card">

              <div class="c-image-container">
                <div class="image">
                  <img class="product-img" src="assets/img/todelete/rutile.png"> 
                  <span class="product-serie">MEULEUSE0034</span>
                  <span class="product-bdg">NEW</span>                               
                </div>
               </div>

               <div class="product-details">
                 <div class="p-title">Mouleuse angular 800w</div>
                 <div class="price-tag">8104F HT</div>
                 <div class="price-tag">9563F TTC</div>
                 <div class="category">OUTILLAGES ELECTROPORTATIFS</div>
               </div>

              <div class="c-footer">
                 <div class="txt">AJOUTER AU PANIER</div>
              </div>
           </div>
          </ion-slide>

              <ion-slide>
           <div class="card">

              <div class="c-image-container">
                <div class="image">
                   <img class="product-img" src="assets/img/todelete/rutile.png"> 
                   <span class="product-serie">MEULEUSE0034</span>
                   <span class="product-bdg">NEW</span>                               
                </div>
               </div>

               <div class="product-details">
                                  <div class="p-title">Mouleuse angular 800w</div>
                 <div class="price-tag">8104F HT</div>
                 <div class="price-tag">9563F TTC</div>
                 <div class="category">OUTILLAGES ELECTROPORTATIFS</div>
               </div>

              <div class="c-footer">
                 <div class="txt">AJOUTER AU PANIER</div>
              </div>
           </div>
          </ion-slide>
         </ion-slides>

        </div>

    </div>
    <!--------------------END-NOUVEAUTE-------------------->

   <!-------------------MEILLEURES-VENTES--------------------->
   <div id="nouveaute" class="ion-margin">

    <div class="section-title">
      <div><h5 class="title">MEILLEURES VENTES</h5></div>
      <div class="see-more"><h5 >VOIR+</h5></div>
    </div>

    <div class="slides">
        <ion-slides pager="false" [options]="slideOptsTwo" #slideWithNav2 (ionSlideDidChange)="SlideDidChange(sliderTwo,slideWithNav2)">
        
          <ion-slide>
           <div class="card">

              <div class="c-image-container">
                <div class="image">
                  <img class="product-img" src="assets/img/todelete/mouleuse.png"> 
                  <span class="product-serie">MEULEUSE0034</span>
                  <span class="product-bdg">NEW</span>               
                </div>

               </div>

               <div class="product-details">
                 <div class="p-title">Mouleuse angular 800w</div>
                 <div class="price-tag">8104F HT</div>
                 <div class="price-tag">9563F TTC</div>
                 <div class="category">OUTILLAGES ELECTROPORTATIFS</div>
               </div>

              <div class="c-footer">
                 <div class="txt">AJOUTER AU PANIER</div>
              </div>
           </div>
          </ion-slide>

          <ion-slide>
           <div class="card">

              <div class="c-image-container">
                <div class="image">
                  <img class="product-img" src="assets/img/todelete/rutile.png"> 
                  <span class="product-serie">MEULEUSE0034</span>
                  <span class="product-bdg">NEW</span>                               
                </div>
               </div>

               <div class="product-details">
                 <div class="p-title">Mouleuse angular 800w</div>
                 <div class="price-tag">8104F HT</div>
                 <div class="price-tag">9563F TTC</div>
                 <div class="category">OUTILLAGES ELECTROPORTATIFS</div>
               </div>

              <div class="c-footer">
                 <div class="txt">AJOUTER AU PANIER</div>
              </div>
           </div>
          </ion-slide>

              <ion-slide>
           <div class="card">

              <div class="c-image-container">
                <div class="image">
                   <img class="product-img" src="assets/img/todelete/rutile.png"> 
                   <span class="product-serie">MEULEUSE0034</span>
                   <span class="product-bdg">NEW</span>                               
                </div>
               </div>

               <div class="product-details">
                                  <div class="p-title">Mouleuse angular 800w</div>
                 <div class="price-tag">8104F HT</div>
                 <div class="price-tag">9563F TTC</div>
                 <div class="category">OUTILLAGES ELECTROPORTATIFS</div>
               </div>

              <div class="c-footer">
                 <div class="txt">AJOUTER AU PANIER</div>
              </div>
           </div>
          </ion-slide>
         </ion-slides>

        </div>

    </div>
    <!-------------------END-MEILLEURES-VENTES--------------------->

   <!-------------------OFFRES-PROMOS--------------------->
   <div id="nouveaute" class="ion-margin">

    <div class="section-title">
      <div><h5 class="title">OFFRES & PROMOS</h5></div>
      <div class="see-more"><h5 >VOIR+</h5></div>
    </div>

    <div class="slides">
        <ion-slides pager="false" [options]="slideOptsTwo" #slideWithNav2 (ionSlideDidChange)="SlideDidChange(sliderTwo,slideWithNav2)">
        

          <ion-slide>
           <div class="promo-card">
             <div class="p-image-container">
              <img class="promo-img" src="assets/img/todelete/promo.png">
             </div>
           </div>
          </ion-slide>

          <ion-slide>
           <div class="card">

              <div class="c-image-container">
                <div class="image">
                  <img class="product-img" src="assets/img/todelete/mouleuse.png"> 
                  <span class="product-serie">MEULEUSE0034</span>
                  <span class="product-bdg">NEW</span>               
                </div>

               </div>

               <div class="product-details">
                 <div class="p-title">Mouleuse angular 800w</div>
                 <div class="price-tag">8104F HT</div>
                 <div class="price-tag">9563F TTC</div>
                 <div class="category">OUTILLAGES ELECTROPORTATIFS</div>
               </div>

              <div class="c-footer">
                 <div class="txt">AJOUTER AU PANIER</div>
              </div>
           </div>
          </ion-slide>

          <ion-slide>
           <div class="card">

              <div class="c-image-container">
                <div class="image">
                  <img class="product-img" src="assets/img/todelete/rutile.png"> 
                  <span class="product-serie">MEULEUSE0034</span>
                  <span class="product-bdg">NEW</span>                               
                </div>
               </div>

               <div class="product-details">
                 <div class="p-title">Mouleuse angular 800w</div>
                 <div class="price-tag">8104F HT</div>
                 <div class="price-tag">9563F TTC</div>
                 <div class="category">OUTILLAGES ELECTROPORTATIFS</div>
               </div>

              <div class="c-footer">
                 <div class="txt">AJOUTER AU PANIER</div>
              </div>
           </div>
          </ion-slide>

              <ion-slide>
           <div class="card">

              <div class="c-image-container">
                <div class="image">
                   <img class="product-img" src="assets/img/todelete/rutile.png"> 
                   <span class="product-serie">MEULEUSE0034</span>
                   <span class="product-bdg">NEW</span>                               
                </div>
               </div>

               <div class="product-details">
                                  <div class="p-title">Mouleuse angular 800w</div>
                 <div class="price-tag">8104F HT</div>
                 <div class="price-tag">9563F TTC</div>
                 <div class="category">OUTILLAGES ELECTROPORTATIFS</div>
               </div>

              <div class="c-footer">
                 <div class="txt">AJOUTER AU PANIER</div>
              </div>
           </div>
          </ion-slide>
         </ion-slides>

        </div>

    </div>
    <!-------------------END-OFFRES-PROMOS--------------------->


  </div>

  
</ion-content>
