<app-header slot="top"></app-header>

<ion-content>
<div class="ion-margin">

   <div class="section-title">
      <div class="label">
        <div class="title">AJOUT INVENTAIRE</div>
        <div class="tracer"><img src="assets/icon/tracer1.svg"></div>
      </div>
    </div>

    <div class="box">
      <div class="row1">
        <div class="depot">
            <ion-item lines="none">
              <ion-label>Dépot</ion-label>
              <ion-select value="brown" okText="Valider" cancelText="Annuler">
               <ion-select-option value="brown">Brown</ion-select-option>
               <ion-select-option value="blonde">Blonde</ion-select-option>
               <ion-select-option value="black">Black</ion-select-option>
               <ion-select-option value="red">Red</ion-select-option>
              </ion-select>
            </ion-item>
        </div>
        <div class="sous-depot"></div>
      </div>
      <div class="row2">       
      </div>
      <div class="row3">      
      </div>
    </div>


</div>
</ion-content>
